@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/fonts/glyphicons-halflings-regular.woff2";
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/fonts/glyphicons-halflings-regular.woff";
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/fonts/glyphicons-halflings-regular.ttf";

body {
    overflow: visible;
    * {
        transition:
            max-width .5s ease,
            left .5s ease;
    }
}

.tabs {
    height: 80vh;
}
.tab__headers  {
    position: fixed;
    right: 0;
    top: 118px;
    flex-direction: column;
    // z-index: 1500;

    .tab__header {
        position: relative;
        right: -75%;
        width: auto;
        height: 40px;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
        transition: all .3s ease;
        cursor: pointer;

        a[tab-target] {
            display: block;
            width: 100%;
            height: 100%;
            margin-left: 10px;
            padding: .375rem .75rem;
            padding-left: 10px;
            border-radius: .25rem;
            background-color: rgba(0, 50, 130, 0.7);
            border-color: rgba(0, 50, 130, 0.7);
            color: #fff;
            transition: all .3s ease-in;
            vertical-align: middle;

            &:hover {
                color: #fff;
            }

            &.active {
                background-color: rgba(247,185,36, .8);
                border-color: rgba(247,185,36, .8);
            }

            svg {
                height: 100%;
                width: 25px;
            }

            .full-name {
                position: relative;
                top: -5px;
                opacity: 0;
            }
        }

        &:hover {
            right: 0;

            a {
                background-color: rgba(247,185,36, .8);
                border-color: rgba(247,185,36, .8);

                .full-name {
                    opacity: 1;
                }
            }
        }
    }
}

.tab__content {
    display: none;

    &.active {
        display: block;
        height: 100%;

        * {
            color: rgba(0, 0, 0, 0.6);
        }

        .categories__block {
            span.control[clear-target] {
                    display: block;
                    padding: 0;
                    height: 30px;
                    width: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    transition: all .5s ease;
            }
        }

        .tree-view {
            max-height: 100%;

            ul {
                list-style: none;
            }

            li,
            .caret,
            .category__header {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                color: rgba(0,50,130,0.8);
                transition: all .5s ease;
                cursor: pointer;
            }

            [category-name],
            category__header {
                border-radius: 3px;

                &:hover {
                    background-color: rgba(247,185,36,0.5);
                    border-color: rgba(247,185,36,0.5);
                }
            }

            .category__header {
                display: block;
                margin-top: 2px;
                margin-left: 20px;
                cursor: pointer;
            }

            /* Style the caret/arrow */
            .caret {
                float: left;
                margin-top: 0;
                margin-bottom: 0;
                padding: 10px 0;
                cursor: pointer;
                user-select: none; /* Prevent text selection */
            }

            /* Create the caret/arrow with a unicode, and style it */
            .caret::before {
             content: "";
             height: 20px;
             width: 20px;
             background-image: url(https://img.icons8.com/color/48/000000/expand-arrow.png);
             background-size: cover;
             display: inline-block;
             position: relative;
             top: 3px;
             margin-right: 3px;
             transform: rotate(-90deg);
             transition: all .3s ease;
            }

            /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
            .caret-down::before {
             transform: rotate(0deg);
            }

            /* Hide the nested list */
            .nested {
                display: none;
                padding-left: 15px;
                margin-left: 10px;
                border-left: 2px solid rgba(0, 140, 255, 0.4);
            }

            /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
            .active {
             display: block;
            }

            .founded {
                background-color: rgba(0,50,130,0.3);
                color: rgba(255,255,255,.7);
            }

            .checked {
                background-color: rgba(247,185,36,0.8);
                border-color: rgba(247,185,36,0.8);
                color: rgba(255,255,255,.7);
            }
        }

        .tag {
            margin: 10px;
            padding: 10px;
            width: 40%;
            max-height: 40px;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
            transition: all .5s ease;
            border-radius: 3px;

            .tag__name {
                color: rgba(0,50,130,0.8);
                cursor: pointer;
            }

            &:hover {
                background-color: rgba(247,185,36,0.5);
                border-color: rgba(247,185,36,0.5);
            }

            &.founded {
                background-color: rgba(0,50,130,0.3);

                .tag__name {
                    color: rgba(255,255,255,.7);
                }
            }

            &.checked {
                background-color: rgba(247,185,36,0.8);
                border-color: rgba(247,185,36,0.8);

                .tag__name {
                    color: rgba(255,255,255,.7);
                }
            }
        }

        .tags__block {
            .control {
                display: block;
                padding: 0;
                height: 30px;
                width: 30px;
                line-height: 30px;
                border-radius: 50%;
                transition: all .5s ease;
            }
        }

        .ql-toolbar {
            padding: 15px;
            background-color: rgba(255,255,255,.3);
            border-bottom: 1px solid rgba(255,255,255,.5);
            transition: all .3s ease;
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: rgba(255,255,255,.4);
            }
        }

        .editor {

            .ql-editor {
                height: 100%;
                padding: 10px 20px;
                background-color: rgba(255,255,255,.3);
                font-size: 14px;
                transition: all .3s ease;

                &:hover,
                &:focus {
                    background-color: rgba(255,255,255,.4);
                }
            }
        }

        &#Editor {
            .shortcodes {

                .shortcode {
                    background-color: rgba(0, 50, 130, 0.3);
                    border: 1px solid rgba(0, 50, 130, 0.15);
                    cursor: pointer;
                    transition: all .5s ease;

                    &:hover {
                        background-color: rgba(0, 50, 130, 0.5);
                        border: 1px solid rgba(0, 50, 130, 0.15);
                    }

                    .shortcode__header {
                        width: 100%;
                        text-align: center;
                        color: rgba(255,255,255,.7);
                    }
                }
            }
        }

        &#CategoriesTypeAndTags {

        }
    }
}
