@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/fonts/glyphicons-halflings-regular.woff2";
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/fonts/glyphicons-halflings-regular.woff";
@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/fonts/glyphicons-halflings-regular.ttf";
body {
  overflow: visible; }
  body * {
    transition: max-width .5s ease, left .5s ease; }

.h-85 {
  height: 85% !important;
  max-height: 85% !important; }

.h-60 {
  height: 60% !important;
  max-height: 60% !important; }

.h-65 {
  height: 65% !important;
  max-height: 65% !important; }

.tabs {
  height: 80vh; }

.tab__headers {
  position: fixed;
  right: 0;
  top: 118px;
  flex-direction: column; }
  .tab__headers .tab__header {
    position: relative;
    right: -75%;
    width: auto;
    height: 40px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    transition: all .3s ease;
    cursor: pointer; }
    .tab__headers .tab__header a[tab-target] {
      display: block;
      width: 100%;
      height: 100%;
      margin-left: 10px;
      padding: .375rem .75rem;
      padding-left: 10px;
      border-radius: .25rem;
      background-color: rgba(0, 50, 130, 0.7);
      border-color: rgba(0, 50, 130, 0.7);
      color: #fff;
      transition: all .3s ease-in;
      vertical-align: middle; }
      .tab__headers .tab__header a[tab-target]:hover {
        color: #fff; }
      .tab__headers .tab__header a[tab-target].active {
        background-color: rgba(247, 185, 36, 0.8);
        border-color: rgba(247, 185, 36, 0.8); }
      .tab__headers .tab__header a[tab-target] svg {
        height: 100%;
        width: 25px; }
      .tab__headers .tab__header a[tab-target] .full-name {
        position: relative;
        top: -5px;
        opacity: 0; }
    .tab__headers .tab__header:hover {
      right: 0; }
      .tab__headers .tab__header:hover a {
        background-color: rgba(247, 185, 36, 0.8);
        border-color: rgba(247, 185, 36, 0.8); }
        .tab__headers .tab__header:hover a .full-name {
          opacity: 1; }

.tab__content {
  display: none; }
  .tab__content.active {
    display: block;
    height: 100%; }
    .tab__content.active * {
      color: rgba(0, 0, 0, 0.6); }
    .tab__content.active .block {
      transition: all .3s ease; }
      .tab__content.active .block.white {
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.8); }
        .tab__content.active .block.white.no-border {
          border: none; }
    .tab__content.active .animation {
      transition: all .5s ease; }
      .tab__content.active .animation:hover, .tab__content.active .animation:focus {
        background-color: rgba(255, 255, 255, 0.4); }
    .tab__content.active .header {
      font-size: 18px;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
      .tab__content.active .header.no-border {
        border: none; }
    .tab__content.active .no-select {
      user-select: none !important; }
    .tab__content.active .input {
      padding: 8px 15px;
      border-radius: 3px; }
    .tab__content.active .select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer; }
    .tab__content.active .scrollable {
      overflow-y: auto; }
    .tab__content.active .categories__block span.control[clear-target] {
      display: block;
      padding: 0;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      transition: all .5s ease; }
    .tab__content.active .tree-view {
      max-height: 100%;
      /* Style the caret/arrow */
      /* Create the caret/arrow with a unicode, and style it */
      /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
      /* Hide the nested list */
      /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */ }
      .tab__content.active .tree-view ul {
        list-style: none; }
      .tab__content.active .tree-view li,
      .tab__content.active .tree-view .caret,
      .tab__content.active .tree-view .category__header {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        color: rgba(0, 50, 130, 0.8);
        transition: all .5s ease;
        cursor: pointer; }
      .tab__content.active .tree-view [category-name],
      .tab__content.active .tree-view category__header {
        border-radius: 3px; }
        .tab__content.active .tree-view [category-name]:hover,
        .tab__content.active .tree-view category__header:hover {
          background-color: rgba(247, 185, 36, 0.5);
          border-color: rgba(247, 185, 36, 0.5); }
      .tab__content.active .tree-view .category__header {
        display: block;
        margin-top: 2px;
        margin-left: 20px;
        cursor: pointer; }
      .tab__content.active .tree-view .caret {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px 0;
        cursor: pointer;
        user-select: none;
        /* Prevent text selection */ }
      .tab__content.active .tree-view .caret::before {
        content: "";
        height: 20px;
        width: 20px;
        background-image: url(https://img.icons8.com/color/48/000000/expand-arrow.png);
        background-size: cover;
        display: inline-block;
        position: relative;
        top: 3px;
        margin-right: 3px;
        transform: rotate(-90deg);
        transition: all .3s ease; }
      .tab__content.active .tree-view .caret-down::before {
        transform: rotate(0deg); }
      .tab__content.active .tree-view .nested {
        display: none;
        padding-left: 15px;
        margin-left: 10px;
        border-left: 2px solid rgba(0, 140, 255, 0.4); }
      .tab__content.active .tree-view .active {
        display: block; }
      .tab__content.active .tree-view .founded {
        background-color: rgba(0, 50, 130, 0.3);
        color: rgba(255, 255, 255, 0.7); }
      .tab__content.active .tree-view .checked {
        background-color: rgba(247, 185, 36, 0.8);
        border-color: rgba(247, 185, 36, 0.8);
        color: rgba(255, 255, 255, 0.7); }
    .tab__content.active .control {
      padding: 10px;
      border-radius: 3px;
      background-color: rgba(0, 50, 130, 0.3);
      color: rgba(255, 255, 255, 0.7);
      transition: all .5s ease;
      cursor: pointer;
      user-select: none; }
      .tab__content.active .control:hover {
        background-color: rgba(247, 185, 36, 0.8);
        border-color: rgba(247, 185, 36, 0.8); }
    .tab__content.active .tag {
      margin: 10px;
      padding: 10px;
      width: 40%;
      max-height: 40px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      transition: all .5s ease;
      border-radius: 3px; }
      .tab__content.active .tag .tag__name {
        color: rgba(0, 50, 130, 0.8);
        cursor: pointer; }
      .tab__content.active .tag:hover {
        background-color: rgba(247, 185, 36, 0.5);
        border-color: rgba(247, 185, 36, 0.5); }
      .tab__content.active .tag.founded {
        background-color: rgba(0, 50, 130, 0.3); }
        .tab__content.active .tag.founded .tag__name {
          color: rgba(255, 255, 255, 0.7); }
      .tab__content.active .tag.checked {
        background-color: rgba(247, 185, 36, 0.8);
        border-color: rgba(247, 185, 36, 0.8); }
        .tab__content.active .tag.checked .tag__name {
          color: rgba(255, 255, 255, 0.7); }
    .tab__content.active .tags__block .control {
      display: block;
      padding: 0;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      transition: all .5s ease; }
    .tab__content.active .checkbox:checked + label .checkbox-box {
      background-image: url(https://img.icons8.com/ultraviolet/40/000000/checked-2.png);
      opacity: 1;
      transform: scale(1.2); }
    .tab__content.active .checkbox-box {
      display: inline-block;
      position: relative;
      top: 4px;
      width: 20px;
      height: 20px;
      background-image: url(https://img.icons8.com/ultraviolet/40/000000/unchecked-checkbox.png);
      background-size: cover;
      opacity: .7; }
    .tab__content.active .ql-toolbar {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      transition: all .3s ease;
      cursor: pointer; }
      .tab__content.active .ql-toolbar:hover, .tab__content.active .ql-toolbar:focus {
        background-color: rgba(255, 255, 255, 0.4); }
    .tab__content.active .editor .ql-editor {
      height: 100%;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.3);
      font-size: 14px;
      transition: all .3s ease; }
      .tab__content.active .editor .ql-editor:hover, .tab__content.active .editor .ql-editor:focus {
        background-color: rgba(255, 255, 255, 0.4); }
    .tab__content.active#Editor .shortcodes .shortcode {
      background-color: rgba(0, 50, 130, 0.3);
      border: 1px solid rgba(0, 50, 130, 0.15);
      cursor: pointer;
      transition: all .5s ease; }
      .tab__content.active#Editor .shortcodes .shortcode:hover {
        background-color: rgba(0, 50, 130, 0.5);
        border: 1px solid rgba(0, 50, 130, 0.15); }
      .tab__content.active#Editor .shortcodes .shortcode .shortcode__header {
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.7); }

.editor__button {
  height: 35px;
  width: 100%;
  color: #fff;
  font-size: .8rem;
  font-weight: 500;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: 1px solid transparent;
  background-color: rgba(0, 50, 130, 0.7);
  cursor: pointer;
  transition: all .5s ease;
  box-shadow: 0 0.46875rem 2.1875rem rgba(8, 10, 37, 0.03), 0 0.9375rem 1.40625rem rgba(8, 10, 37, 0.03), 0 0.25rem 0.53125rem rgba(8, 10, 37, 0.05), 0 0.125rem 0.1875rem rgba(8, 10, 37, 0.03); }
  .editor__button:hover {
    background-color: #eca909; }

/*# sourceMappingURL=Editor.css.map */
