.no-padding {
    padding: 0 !important;
}

body {
    color: #495057;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        outline: none;
    }
}

.carousel {
    height: 100vh;

    .carousel-inner,
    .carousel-item {
        height: 100%;

        img {
            filter:
                brightness(.5)
                grayscale(.3);
        }
    }
}

.form {
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 10%;

    .text {
        width: 100%;
        margin-bottom: 25px;
        border-bottom: 1px solid #e9ecef;

        h1 {
            margin-bottom: 15px;
            opacity: .6;
            font-size: 1.5rem;
            font-weight: 400;
        }

        p {
            margin-bottom: 15px;
            font-size: 1.1rem;

            a {
                color: #545cd8;
                transition: all .2s ease;

                &:hover {
                    color: #353ed1;
                }
            }
        }
    }

    .messages {
        .message__text {
            &:last-of-type {
                padding-bottom: 25px;
                border-bottom: 1px solid #e9ecef;
            }

            &.message {
                color: #9c9;
            }

            &.error {
                color: rgba(255,0,0,.7);
            }
        }
    }

    .form__fields {
        padding-left: 15px;

        .form__field {
            label {
                display: block;
            }

            input {
                width: 97%;
                padding: .375rem .75rem;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                transition: all .2s ease;

                &:focus {
                    color: #495057;
                    background-color: #fff;
                    border-color: #bcbff0;
                    outline: 0;
                    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
                }
            }
        }
    }

    .form__remember {
        margin-top: 20px;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e9ecef;

        label {
            position: relative;
            top: -2px;
        }
    }

    .form__buttons {
        .form__button {
            width: 80%;

            a {
                font-size: .8rem;
                font-weight: 500;
                transition: all .5s ease;
            }
        }

        .form__button_recover {
            padding: .5rem 1rem;
            text-align: right;
        }

        .form__button_login {
            input {
                width: 100%;
                padding: .5rem 1rem;
                background-color: #545cd8;
                border: 1px solid #545cd8;
                border-radius: .3rem;
                color: #fff;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                transition: all .5s ease;

                &:hover {
                    background-color: #353ed1;
                    border-color: #2e38cb;
                }
            }
        }
    }
}
