.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em; }

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: rgba(0, 50, 130, 0.9);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: white;
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
  transition: all .5s ease; }
  .circular-menu .floating-btn:hover {
    color: rgba(255, 255, 255, 0.7) !important;
    background-color: #eca909; }

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s; }

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg); }

.circular-menu:after {
  display: block;
  content: ' ';
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transition: all .3s ease; }

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1); }

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0; }

.circular-menu .menu-item {
  position: absolute;
  top: .2em;
  right: .2em;
  z-index: -1;
  display: block;
  opacity: 0;
  text-decoration: none;
  color: white;
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: rgba(0, 50, 130, 0.9);
  transition: all .3s ease, transform .3s ease, background .2s ease; }
  .circular-menu .menu-item img {
    width: 50%;
    height: 50%; }

.circular-menu .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .5s ease; }
  .circular-menu .menu-item:hover:hover {
    background-color: #eca909; }

.circular-menu.active .menu-item {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em, -7em, 0); }

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em, -6.3em, 0); }

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em, -3.2em, 0); }

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em, 1em, 0); }

/*# sourceMappingURL=additional.css.map */
