$color: rgba(255,255,255,1);

header {
    height: 60px;
    background-image: linear-gradient(90deg,#141e30,#243b55) !important;

    .search {
        margin-top: 18px;

        .search__input {
            position: relative;
            width: 5%;
            padding-left: 30px;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0);
            background-color: rgba(255,255,255,0);
            background-image: url("/Admin/Templates/Original/sublayouts/headers/original/img/icons/search.png");
            background-size: contain;
            background-repeat: no-repeat;
            color: rgba(255,255,255,0);
            transition:
                all .6s ease,
                color .1s ease;
            cursor: pointer;

            &:focus {
                width: 60%;
                padding-left: 5px;
                color: rgba(255,255,255,.8);
                background-image: none;
                border-bottom: 1px solid rgba(255,255,255,.8);
                cursor: text;
            }
        }
    }

    .site-tools {
        margin: 7px 10px;
        padding-top: 5px;

        .site-tools__item {
            margin-left: 10px;
            margin-right: 10px;
            background-color: transparent;
            border: none;

            a {
                color: rgba(255,255,255,.7);
            }

            .btn:focus,
            .btn-privary:focus {
                box-shadow: none !important;
            }
        }
    }

    .account-tools {
        margin: 7px 10px;
        margin-right: 0;
        border-right: 1px solid rgba(255,255,255, .3);

        .account-tools__item {
            width: 45px;
            height: 45px;
            margin-left: 5px;
            margin-right: 5px;
            padding-top: 10px;
            border-radius: 50%;
            background-color: rgba(255,255,255,.1);
            transition: all .5s ease;
            text-align: center;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;
                background-color: rgba(255,255,255,.15);
            }

            .flag {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                overflow: hidden;
                background-size: contain;

                img {
                    margin-left: -7px;
                    margin-top: -12px;
                    width: 40px;
                    height: 48px;
                }
            }
        }
    }

    .account {
        margin-top: 6px;

        .account__info {
            .account__info_name {
                font-size: .88rem;
                font-weight: 700;
                color: hsla(0,0%,100%,.8);
                opacity: .8;
            }

            .account__info_type {
                font-size: .8rem;
                font-weight: 400;
                color: hsla(0,0%,100%,.8);
                opacity: .5;
            }
        }

        .account__photo {
            margin-right: 15px;
            cursor: pointer;

            img {
                margin-top: 3px;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                vertical-align: middle;
            }

            .icon {
                margin-top: 16px;
                margin-left: 10px;
                padding: 0;
                width: 6px;
                height: 6px;
                border: none;
                border-right: 2px solid hsla(0,0%,100%,.8);
                border-bottom: 2px solid hsla(0,0%,100%,.8);
                background-color: rgba(255,255,255,0);
                transform: rotate(45deg);
                cursor: pointer;
            }
        }

        .account__popover {


        }
    }

    .calendar {
        margin-left: 1rem;
        margin-top: 11px;
        width: 35px;
        height: 35px;
        padding: 7px;
        border-radius: .2rem;
        background-color: #30b1ff;
        border-color: #30b1ff;
        box-shadow: 0 .125rem .625rem rgba(0,0,0,.1),0 .0625rem .125rem rgba(0,0,0,.2);
        cursor: pointer;
        color: #fff;
        text-align: center;
    }

    .server-info {
        margin: 7px 10px;
    }
}

.popover {
    margin-top: 3px;
    padding-bottom: 50px;
    max-width: 400px;
    max-height: 500px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0);
    box-shadow: 0 .46875rem 2.1875rem rgba(8,10,37,.03),0 .9375rem 1.40625rem rgba(8,10,37,.03),0 .25rem .53125rem rgba(8,10,37,.05),0 .125rem .1875rem rgba(8,10,37,.03);

    .arrow {
        display: none;
    }

    .popover-header {
        padding: 0;
        background-position: center;
        background-image: url(../../img/dashboard/backgrounds/account__popup.jpg);

        &:before {
            display: none;
        }

        .account__popover_header {
            width: 100%;
            height: 100%;
            padding: 20px 15px;
            background-color: rgba(48,177,255,.8);

            img {
                margin-top: 3px;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                vertical-align: middle;
            }

            .account__info {
                margin-top: 7px;
                margin-left: 10px;
                text-align: left;

                .account__info_name {
                    font-size: .88rem;
                    font-weight: 700;
                    color: hsla(0,0%,100%,.8);
                    opacity: .8;
                }

                .account__info_type {
                    font-size: .8rem;
                    font-weight: 400;
                    color: hsla(0,0%,100%,.8);
                    opacity: .8;
                }
            }

            .account__logout {
                margin: 6px 15px 0 35px;
                padding: 4px 10px 0 10px;
                height: 30px;
                box-shadow: 0 .125rem .625rem rgba(68,64,84,.5),0 .0625rem .125rem rgba(68,64,84,.6);
                background-color: #322f3e;
                border-color: #2d2a37;
                border-radius: 50px;
                opacity: .85;
                transition: all .5s ease;
                cursor: pointer;

                &:hover {
                    opacity: .9;
                }

                * {
                    color: #fff;
                    font-size: .8rem;
                    font-weight: 500;
                    text-decoration: none;
                }
            }
        }
    }

    .popover-body {
        height: 90%;
        overflow-y: auto;
    }

    .popover__block {
        width: 100%;

        .popover__block__header {
            text-transform: uppercase;
            font-size: .73333rem;
            color: #6c757d;
            font-weight: 700;
            padding: .5rem 1rem;
        }

        .popover__block__content {
            padding: .5rem 1rem;

            .popover__link {
                margin-bottom: 10px;

                a {
                    color: #545cd8;
                    transition: all .5s ease;

                    &:hover {
                        color: #495057;
                        text-decoration: none;
                    }
                }

                .popover__counter {
                    padding-top: 2px;
                    width: 35px;
                    height: 22px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #fff;

                    &.popover__counter_blue {
                        background-color: #30b1ff;
                        border-radius: 10rem;
                    }

                    &.popover__counter_green {
                        width: 55px;
                        background-color: #3ac47d;
                        border-radius: 6px;
                    }

                    &.popover__counter_yellow {
                        width: 30px;
                        background-color: #f7b924;
                        border-radius: 6px;
                        color: #000;
                    }
                }
            }
        }
    }
}
