@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css');

*:focus {
    outline:none
}

body {
  color: #5D5F63;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/ales-krivec-38565-unsplash.jpg);
  background-size: cover;
  font-family: 'Open Sans',sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
}

.no-padding {
    padding: 0 !important;
}

.popover__title,
.popover__content {
    display: none;
}

.popover-header {
    text-align: center;
}

.popover__block {
    padding-left: 10px;
    padding-right: 10px;
}

#page__preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20000;
    background: #282828;

    svg {
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
              transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }

    .stroke-still {
      stroke: #232323;
    }

    .stroke-animation {
      -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
              animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-delay: 0;
              animation-delay: 0;
      -webkit-animation-direction: normal;
              animation-direction: normal;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-play-state: running;
              animation-play-state: running;
      -webkit-transform-origin: center center;
              transform-origin: center center;
    }

    @-webkit-keyframes stroke-spacing {
      0% {
        stroke-dasharray: 0 200;
      }
      45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
      }
      90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
      }
      100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
      }
    }

    @keyframes stroke-spacing {
      0% {
        stroke-dasharray: 0 200;
      }
      45% {
        stroke-dashoffset: 0;
        stroke-dasharray: 200 200;
      }
      90% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
      }
      100% {
        stroke-dashoffset: -200;
        stroke-dasharray: 200 200;
      }
    }

    @-webkit-keyframes stroke-color {
      0%  { stroke: #3498DB; }
      24% { stroke: #643232; }
      25% { stroke: #327864; }
      49% { stroke: #327864; }
      50% { stroke: #32326e; }
      74% { stroke: #32326e; }
      75% { stroke: #78325a; }
      99% { stroke: #78325a; }
    }

    @keyframes stroke-color {
      0%  { stroke: #3498DB; }
      24% { stroke: #643232; }
      25% { stroke: #327864; }
      49% { stroke: #327864; }
      50% { stroke: #32326e; }
      74% { stroke: #32326e; }
      75% { stroke: #78325a; }
      99% { stroke: #78325a; }
    }
}

.h-85 {
    height: 85% !important;
    max-height: 85% !important;
}

.h-15 {
    height: 15% !important;
    max-height: 15% !important;
}

.h-60 {
    height: 60% !important;
    max-height: 60% !important;
}

.h-65 {
    height: 65% !important;
    max-height: 65% !important;
}

.block {
    transition: all .3s ease;

    &.white {
        background-color: rgba(255,255,255,.3);
        border: 1px solid rgba(255,255,255,.8);

        &.no-border {
            border: none;
        }
    }
}

.animation {
    transition: all .5s ease;

    &:hover,
    &:focus {
        background-color: rgba(255,255,255,.4);
    }
}

.header {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,.7);

    &.no-border {
        border: none;
    }
}

.no-select {
    user-select: none !important;
}

.control {
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(0,50,130,0.3);
    color: rgba(255,255,255,.7);
    transition: all .5s ease;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: rgba(247,185,36,0.8);
        border-color: rgba(247,185,36,0.8);
    }
}

.checkbox-box {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
    background-image: url(https://img.icons8.com/ultraviolet/40/000000/unchecked-checkbox.png);
    background-size: cover;
    opacity: .7;
}

.list {

}

.input {
    padding: 8px 15px;
    border-radius: 3px;
}

.select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    cursor: pointer;
}

.scrollable {
    overflow-y: auto;
}

.checkbox {

    &:checked + label .checkbox-box {
        background-image: url(https://img.icons8.com/ultraviolet/40/000000/checked-2.png);
        opacity: 1;
        transform: scale(1.2);
    }
}

.button {
    height: 35px;
    width: 100%;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid transparent;
    background-color: rgba(0, 50, 130, 0.7);
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: 0 .46875rem 2.1875rem rgba(8,10,37,.03),0 .9375rem 1.40625rem rgba(8,10,37,.03),0 .25rem .53125rem rgba(8,10,37,.05),0 .125rem .1875rem rgba(8,10,37,.03);

    &:hover {
        background-color: #eca909;
    }
}

.button_create {

}

.button_save_and_create {

}

.button_cancel {


}

.border-right {
    border-right: 1px solid rgba(255,255,255,.9);
}
