@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,700|Shrikhand");
* {
  box-sizing: border-box; }

nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 1rem 1rem;
  width: 100vw;
  z-index: 2000;
  min-height: 100vh;
  text-align: center;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/ales-krivec-38565-unsplash.jpg);
  background-size: cover;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.45s 0.45s ease, transform 0s 1.2s; }

.menu ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%; }
  @media (min-width: 820px) {
    .menu ol {
      grid-template-columns: repeat(4, 1fr); } }
  .menu ol li {
    display: grid;
    grid-column: span 1;
    grid-gap: 1rem;
    overflow: hidden; }
  .menu ol a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    text-decoration: none;
    color: #2269BB;
    background-color: #2269BB;
    border-radius: 2px; }
    @media (min-width: 450px) {
      .menu ol a {
        font-size: 1.75rem; } }

.menu > ol > li:nth-child(n + 3) {
  grid-column: span 2; }

.menu .sub-menu {
  padding: 0;
  grid-template-columns: repeat(2, 1fr); }
  @media (min-width: 500px) {
    .menu .sub-menu {
      grid-template-columns: repeat(3, 1fr); } }
  .menu .sub-menu li a {
    font-size: 0.85rem;
    color: #16457a;
    background-color: #16457a; }
    @media (min-width: 450px) {
      .menu .sub-menu li a {
        font-size: 1rem; } }
  .menu .sub-menu li:nth-child(3n) {
    grid-column: span 2; }
    @media (min-width: 500px) {
      .menu .sub-menu li:nth-child(3n) {
        grid-column: span 1; } }

.menu-toggle {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2px;
  position: relative;
  cursor: pointer;
  width: 28px;
  height: 22px;
  margin-top: 20px;
  margin-right: 40px;
  z-index: 2001; }
  .menu-toggle:before {
    content: '×';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.4rem;
    line-height: 0.4;
    color: #123965;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease; }
  .menu-toggle span {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    transition: transform 0.3s ease;
    transform-origin: 100% 100%; }
    .menu-toggle span:nth-child(1) {
      transition-delay: 0.35s; }
    .menu-toggle span:nth-child(2) {
      transition-delay: 0.4s; }
    .menu-toggle span:nth-child(3) {
      transition-delay: 0.45s; }
    .menu-toggle span:nth-child(4) {
      transition-delay: 0.5s; }
    .menu-toggle span:nth-child(5) {
      transition-delay: 0.55s; }
    .menu-toggle span:nth-child(6) {
      transition-delay: 0.6s; }
    .menu-toggle span:nth-child(7) {
      transition-delay: 0.65s; }
    .menu-toggle span:nth-child(8) {
      transition-delay: 0.7s; }
    .menu-toggle span:nth-child(9) {
      transition-delay: 0.75s; }
    .menu-toggle span:nth-child(10) {
      transition-delay: 0.8s; }
    .menu-toggle span:nth-child(11) {
      transition-delay: 0.85s; }
    .menu-toggle span:nth-child(12) {
      transition-delay: 0.9s; }
    .menu-toggle span:nth-child(13) {
      transition-delay: 0.95s; }
    .menu-toggle span:nth-child(14) {
      transition-delay: 1s; }
    .menu-toggle span:nth-child(15) {
      transition-delay: 1.05s; }
    .menu-toggle span:nth-child(16) {
      transition-delay: 1.1s; }
    .menu-toggle span:nth-child(1), .menu-toggle span:nth-child(2) {
      grid-column: span 3; }
    .menu-toggle span:nth-child(3), .menu-toggle span:nth-child(6) {
      grid-column: span 2; }
    .menu-toggle span:nth-child(4), .menu-toggle span:nth-child(5) {
      grid-column: span 4; }

#menu-toggle-input {
  display: none; }
  #menu-toggle-input:checked ~ .menu-toggle span {
    transform: scaleX(0); }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(1) {
      transition-delay: 0.05s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(2) {
      transition-delay: 0.1s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(3) {
      transition-delay: 0.15s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(4) {
      transition-delay: 0.2s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(5) {
      transition-delay: 0.25s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(6) {
      transition-delay: 0.3s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(7) {
      transition-delay: 0.35s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(8) {
      transition-delay: 0.4s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(9) {
      transition-delay: 0.45s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(10) {
      transition-delay: 0.5s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(11) {
      transition-delay: 0.55s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(12) {
      transition-delay: 0.6s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(13) {
      transition-delay: 0.65s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(14) {
      transition-delay: 0.7s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(15) {
      transition-delay: 0.75s; }
    #menu-toggle-input:checked ~ .menu-toggle span:nth-child(16) {
      transition-delay: 0.8s; }
  #menu-toggle-input:checked ~ .menu-toggle:before {
    opacity: 1;
    transition-delay: 0.75s; }
  #menu-toggle-input:checked ~ nav {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s; }
    #menu-toggle-input:checked ~ nav a {
      color: white;
      transform: translate(0, 0); }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(1) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.35s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(1) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.5s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(2) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.4s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(2) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.55s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(3) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.45s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(3) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.6s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(4) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.5s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(4) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.65s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(5) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.55s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(5) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.7s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(6) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.6s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(6) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.75s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(7) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.65s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(7) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.8s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(8) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.7s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(8) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.85s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(9) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.75s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(9) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.9s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(10) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.8s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(10) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.95s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(11) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.85s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(11) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(12) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.9s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(12) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1.05s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(13) > a {
      transition: color 0.3s 0.825s, transform 0.3s 0.95s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(13) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1.1s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(14) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(14) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1.15s ease; }
    #menu-toggle-input:checked ~ nav > ol > li:nth-child(15) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1.05s ease; }
    #menu-toggle-input:checked ~ nav .sub-menu > li:nth-child(15) > a {
      transition: color 0.3s 0.825s, transform 0.3s 1.2s ease; }

.menu > ol > li:nth-child(1) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.2s ease; }

.sub-menu > li:nth-child(1) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.2s ease; }

.menu > ol > li:nth-child(2) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.25s ease; }

.sub-menu > li:nth-child(2) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.25s ease; }

.menu > ol > li:nth-child(3) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.3s ease; }

.sub-menu > li:nth-child(3) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.3s ease; }

.menu > ol > li:nth-child(4) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.35s ease; }

.sub-menu > li:nth-child(4) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.35s ease; }

.menu > ol > li:nth-child(5) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.4s ease; }

.sub-menu > li:nth-child(5) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.4s ease; }

.menu > ol > li:nth-child(6) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.45s ease; }

.sub-menu > li:nth-child(6) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.45s ease; }

.menu > ol > li:nth-child(7) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.5s ease; }

.sub-menu > li:nth-child(7) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.5s ease; }

.menu > ol > li:nth-child(8) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.55s ease; }

.sub-menu > li:nth-child(8) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.55s ease; }

.menu > ol > li:nth-child(9) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.6s ease; }

.sub-menu > li:nth-child(9) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.6s ease; }

.menu > ol > li:nth-child(10) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.65s ease; }

.sub-menu > li:nth-child(10) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.65s ease; }

.menu > ol > li:nth-child(11) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.7s ease; }

.sub-menu > li:nth-child(11) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.7s ease; }

.menu > ol > li:nth-child(12) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.75s ease; }

.sub-menu > li:nth-child(12) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.75s ease; }

.menu > ol > li:nth-child(13) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.8s ease; }

.sub-menu > li:nth-child(13) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.8s ease; }

.menu > ol > li:nth-child(14) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.85s ease; }

.sub-menu > li:nth-child(14) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.85s ease; }

.menu > ol > li:nth-child(15) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.9s ease; }

.sub-menu > li:nth-child(15) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.9s ease; }

.menu > ol > li:nth-child(16) > a {
  transform: translate(calc(-100% - 12px), 0);
  transition: color 0.3s, transform 0.3s 0.95s ease; }

.sub-menu > li:nth-child(16) > a {
  transform: translate(0, calc(-100% - 12px));
  transition: color 0.3s, transform 0.3s 0.95s ease; }

/*# sourceMappingURL=sidebar.css.map */
