.editor__aside{background-image:-webkit-gradient(linear, left top, right top, from(#141e30), to(#243b55));background-image:linear-gradient(90deg, #141e30, #243b55);opacity:0;height:calc(100vh - 60px);position:relative;left:-100%}.editor__aside.active{opacity:.8}.aside_open{position:absolute;left:-25px;top:50%;width:50px;height:50px;border:1px solid #141e30;border-radius:50px;background-color:#f7b924;border-color:#f7b924;opacity:.5;-webkit-transition:all .5s ease;transition:all .5s ease;cursor:pointer}.aside_open:hover{opacity:.7}.aside_open.active{display:none;left:15%}
