.no-padding {
  padding: 0 !important; }

body {
  color: #495057; }
  body a,
  body a:link,
  body a:visited,
  body a:hover,
  body a:active {
    text-decoration: none;
    outline: none; }

.carousel {
  height: 100vh; }
  .carousel .carousel-inner,
  .carousel .carousel-item {
    height: 100%; }
    .carousel .carousel-inner img,
    .carousel .carousel-item img {
      filter: brightness(0.5) grayscale(0.3); }

.form {
  margin-top: 30%;
  margin-left: 25%;
  margin-right: 10%; }
  .form .text {
    width: 100%;
    margin-bottom: 25px;
    }
    .form .text h1 {
      margin-bottom: 15px;
      opacity: .6;
      font-size: 1.5rem;
      font-weight: 400; }
    .form .text p {
      margin-bottom: 15px;
      font-size: 1.1rem; }
      .form .text p a {
        color: #545cd8;
        transition: all .2s ease; }
        .form .text p a:hover {
          color: #353ed1; }
  .form .form__fields {
    padding-left: 15px; }
    .form .form__fields .form__field label {
      display: block; }
    .form .form__fields .form__field input {
      width: 100%;
      padding: .375rem .75rem;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: all .2s ease; }
      .form .form__fields .form__field input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #bcbff0;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .form .form__remember {
    margin-top: 20px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9ecef; }
    .form .form__remember label {
      position: relative;
      top: -2px; }
  .form .form__buttons .form__button {
    width: 80%;
    margin-top: 15px;
    padding: .5rem 1rem;
    transition: all .5s ease; }
    .form .form__buttons .form__button a {
      font-size: .8rem;
      font-weight: 500; }
  .form .form__buttons .form__button_recover {
    text-align: right; }
  .form .form__buttons .form__button_login {
    background-color: #545cd8;
    border-color: #545cd8;
    border-radius: .3rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
    .form .form__buttons .form__button_login:hover {
      background-color: #353ed1;
      border-color: #2e38cb; }
    .form .form__buttons .form__button_login a {
      color: #fff; }

/*# sourceMappingURL=main.css.map */
